/* aligning card to centre */
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(61, 126, 122);
    border: 5px solid white;
}

/* mobile view */
.container{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
}


/* flex-basis = allows change of height to width and vice versa in media query
- set height/width = 0 to avoid over stretch of image when used as flex. */
.image {
   object-fit: cover;
   flex-basis: 200px;
    min-width: 0;
    min-height: 0;
}

.tips-heading {
    color: #05CBE9;
    font-size: 36px;
    margin: 15px;
}

.tips-message {
    margin: 15px;
}
.main{  
   background-color: #111D4A;
    color: #FFFFFF;
    font-size: 16px;
      
}

/* opacity = making text light in view */
.read{
    margin:  0 15px;
    opacity: .6;
    font-size: 18px;
    line-height: 1;
    
}

/* jc = seperate items apart
f-e = brings items to the bottom */
.bottom {
   
    display:flex;
    justify-content: space-between;
    align-items: flex-end; 
    margin-top: 3em;
}

.card-btn{    
    background-color: #05CBE9;
    font-weight: 900;
    text-decoration: none;
    text-align: center;
    font-size: 1.25rem;
    padding: .35em 1em;
    letter-spacing: 1px;
    margin: 20px;
}

span {
    font-weight: 900;
    font-size: 20px;
}

/* on Large screen */

@media (min-width: 600px){

    .container {
        flex-direction: row;
    }

    .image{
        height: 300px;
    }

    .main{
        flex-direction: column;
        display: flex;
    }

    .bottom{
        margin-top: auto;
    }

    .tips-message {
        max-width: 500px;
    }
}